<! DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title> Social Distribution</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
	<h1> Welcome to the Social Distribution</h1>
	<p>Please log in.</p>
	<form action="/login" method="post" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded"> 
		Username: <input type="email" name="user"/><br>
		Password: <input type="password" name="pass"/><br>
		<input type="submit" name="submit"/>
	</form>
	<a href="/signup">Don't have an account? Sign up now!</a>
</body>
</html>

